<div class="banner" style="background: linear-gradient(135deg, rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url('<%= image_path('plat.jpg') %>');  background-repeat: no-repeat; background-position: center; background-size: cover;">
  <h1><%=@restaurant.name%></h1>
  <p><%=@restaurant.address%>, <%= @restaurant.post_code%></p>
  <div class="infos">
  <p><i class="fa fa-phone" aria-hidden="true"></i><%=@restaurant.phone_number%></p>
  </div>
</div>


