<div class="banner" style="background: linear-gradient(135deg, rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url('<%= image_path('plat.jpg') %>');  background-repeat: no-repeat; background-position: center; background-size: cover;">
  <h2>Bonjour <%= current_user.first_name %>,</h2>
  <p id="sous-titre">Nous sommes heureux de vous voir sur notre site aujourd'hui !</p>
</div>
<div class="user-wrapper">
  <div class="user-container">
    <div class="row">
      <div class = " col-xs-12 col-sm-6">
        <div class = "card-user">
          <% if @has_order %>
          <h4> N'oubliez pas d'aller chercher votre <b><%= @order.meal.name %></b>:  </h4>

          <%= link_to 'annuler ma commande', meal_order_path(@order.meal, @order), method: :put, confirm: 'Are you sure?' %>
          <img src="https://place-hold.it/150x150" style="height: 250px; width: 300px" >
          <h4><b>Informations: </b></h4>
          <% @meal = @order.meal %>
          <% @restaurant = Restaurant.find(@meal.restaurant_id) %>
          <p><b>Restaurant : </b> <%= @restaurant.name %></p>
          <p><b>Adresse : </b><%= @restaurant.address %>&nbsp;&nbsp;&nbsp;&nbsp;<%= @restaurant.post_code %> <%= @restaurant.city %></p>
          <p><b>Telephone : </b><%= @restaurant.phone_number %></p>
          <p></p>
          <p></p>
          <p>Vous devez passer sur le creneau : <b><%= @order.pick_up_time %></b></p>
          <% else %>

          <h4>Vous n'avez pas encore commandé votre prochain repas.</h4>
          <h5>Commandez dès maintenant en <%= link_to 'Cliquant ici', meals_path %></h5>
          <% end %>
        </div>
      </div>
      <div class = " col-xs-12 col-sm-6">
        <div class = "card-user">
          <h3> Mes informations </h3>
          <p></p>
          <p></p>
          <p> <b>Prenom : </b> <%= current_user.first_name %></p>
          <p> <b>Nom : </b><%= current_user.last_name %></p>
          <p> <b>Email : </b><%= current_user.email %></p>
          <p> <b>Telephone : </b><%= current_user.phone_number %></p>
          <p> <b>Code Postal: </b><%= current_user.post_code %></p>
          <%= link_to 'Editer mes informations', edit_user_registration_path(current_user) %>
          <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- count number of orders wich timestamp is included in the current month -->

<!-- Below, historique des commandes du user, not MVP -->
