<div class="banner" style="background: linear-gradient(135deg, rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url('<%= image_path('plat.jpg') %>');  background-repeat: no-repeat; background-position: center; background-size: cover;">
  <h2>Bonjour, <%= current_user.first_name %></h2>
  <p id="sous-titre">Nous sommes heureux de vous voir sur notre site aujourd'hui !</p>
</div>

<div class="user-wrapper">
  <div class="user-container">
    <% @order = Order.find_by(user_id: current_user.id) %>
    <% if @order != nil %>
    <h2> N'oubliez pas d'aller chercher votre <i><%= @order.meal.name %></i>:  </h2>
    <p><%= @order.pick_up_time %></p>
    <% @meal = @order.meal %>
    <p><% @restaurant = Restaurant.find(@meal.restaurant_id) %></p>
    <p><%= @restaurant.name %></p>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.post_code %> <%= @restaurant.city %></p>
    <p><%= @restaurant.phone_number %></p>

    <p> Nombre de plats restants : XXXXXX </p>

    <p>Creer le bouton "Annuler ma commande"</p>
    <% else %>
    <h1> Quel plat desirez vous aujourd'hui ?</h1>
    <p> Bouton decouverte des mets du jour </p>
    <%= link_to "Decouverte des mets du jour", meals_path %>
    <% end %>

    <hr>

    <h2> Mes informations </h2>
    <p> Prenom: <%= current_user.first_name %></p>
    <p> Nom: <%= current_user.last_name %></p>
    <p> Adresse email: <%= current_user.email %></p>
    <p> Telephone: <%= current_user.phone_number %></p>
    <p> Code Postal: <%= current_user.post_code %></p>
    <%= link_to 'Editer mes informations', edit_user_registration_path(current_user) %>




    <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
  </div>
</div>
<!-- count number of orders wich timestamp is included in the current month -->

<!-- Below, historique des commandes du user, not MVP -->
