<div class="banner" style="background: linear-gradient(135deg, rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url('<%= image_path('plat.jpg') %>');  background-repeat: no-repeat; background-position: center; background-size: cover;">
  <h1>Bonjour <%= current_user.first_name %>,</h1>
  <p id="sous-titre">Nous sommes heureux de vous voir sur notre site aujourd'hui !</p>
</div>
<div class="user-wrapper">
  <div class="user-container">
    <div class="row wide">
      <% if @has_order %>
      <div class = "col-xs-12 col-sm-7 col-md-6">
        <div class="img-stuff">
          <h2> Ma commande </h2>
          <% @meal = @order.meal %>
          <div class="img-meal img-responsive" style="background: url('<%=@meal.photo%>'); background-position: center; background-size: cover; background-repeat: no-repeat; height: 300px; width: 450px;"></div>
        </div>
      </div>
      <div class = "col-xs-12 col-sm-5 col-md-6">
        <div id="info-pack" class="pack">
          <h3><b>Informations pratiques</b></h3>
          <hr>
          <div class="pack-text">
            <p><b>Votre plat : </b><%= @order.meal.name %></p>
            <p><b>Votre créneau : </b><%= @order.pick_up_time %></p>
            <% @meal = @order.meal %>
            <% @restaurant = Restaurant.find(@meal.restaurant_id) %>
            <p><b>Restaurant :  </b><%= @restaurant.name %></p>
            <p><b>Adresse :  </b><%= @restaurant.address %>,&nbsp;&nbsp;&nbsp;<%= @restaurant.post_code %>,&nbsp; <%= @restaurant.city %></p>
            <p><b>Téléphone :  </b><%= @restaurant.phone_number %></p>
            <%= link_to 'Annuler ma commande', meal_order_path(@order.meal, @order), method: :put, confirm: '' %>
          </div>
        </div>
      </div>
      <div class ="col-xs-12">
        <div class="show">
          <div id="map" style="height: 300px;"></div>
        </div>
        <% content_for(:after_js) do %>
        <%= javascript_tag do %>
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
      handler.getMap().setZoom(14);
    }
  });
  <% end %>
  <% end %>
</div>

<% else %>
<div class= "col-xs-12">
  <div class ="no-command text-center">
    <h4>Vous n'avez pas encore commandé votre prochain repas.</h4>
    <h5>Commandez dès maintenant en <%= link_to 'Cliquant ici', meals_path %></h5>
  </div>
</div>
<% end %>
</div>
</div>
</div>




<div class ="user-infos-container">
  <div class="row wide">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
     <h2> Mes informations </h2>
     <table class="table table-hover">
      <tr>
        <th>Prénom</th>
        <th><%= current_user.first_name %></th>
      </tr>
      <tr>
        <td>Nom</td>
        <td><%= current_user.last_name %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= current_user.email %></td>
      </tr>
      <tr>
        <td>Téléphone</td>
        <td><%= current_user.phone_number %></td>
      </tr>
      <tr>
        <td>Code Postal</td>
        <td><%= current_user.post_code %></td>
      </tr>
    </table>
    <div class="info-links">
      <p><%= link_to 'Editer mes informations', edit_user_registration_path(current_user) %></p>
      <p><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %></p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <h2>Mon abonnement</h2>
    <% if @user_subscription != nil %>
    <table class="table table-hover">
      <tr>
        <th>type d'abonnement</th>
        <th><%= @user_subscription.subscription.name %></th>
      </tr>
      <tr>
        <td>prochaine échéance</td>
        <td><%= @user_subscription.end_date %></td>
      </tr>
      <tr>
        <td>Nombre de plats restant ce mois-ci</td>
        <td>12</td>
      </tr>
    </table>
    <a href="#">Mettre fin à mon abonnement</a>
    <% else %>
    <h4>Vous n'avez pas d'abonnement en cours. Pour profiter de vos plats préférés, <%= link_to 'abonnez-vous !', subscriptions_path %></h4>
    <% end %>
  </div>
</div>
</div>




<!-- count number of orders wich timestamp is included in the current month -->

<!-- Below, historique des commandes du user, not MVP -->
