<%= render "components/restaurantbanner" %>

<div class="meal-wrapper">
    <div class="meal-container">
      <div class="row">
          <div class="col-xs-12">
            <div class="shadow-card">
            <div class = " col-xs-12 col-sm-7 col-lg-7 ">
              <div class = "card-meal">
                <h2> Voici le plat du jour ! </h2>
                <div class="img-meal img-responsive" style="background: url('<%=@meal.photo%>'); background-position: center; background-size: cover; background-repeat: no-repeat; height: 300px; width: 400px;">
                </div>
              </div>
            </div>
            <div class ="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-5 col-lg-5">
              <div class = "description">
                <h3><%= @meal.name %></h3>
                <hr>
                <h4> Description</h4>
                <p><%= @meal.description %></p>
                <p><a class="btn btn-primary btn-lg" href="#order" role="button">Choisir ce plat</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="map-wrapper">
  <div class="map-container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div id="map" style="height: 300px;"></div>
        <% content_for(:after_js) do %>
        <%= javascript_tag do %>
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
      handler.getMap().setZoom(14);
    }
  });
  <% end %>
  <% end %>
</div>
<div class = "col-xs-12 col-sm-4">
  <div class = "address text-center">
    <h3><%=@restaurant.name%></h3>
    <p><%=@restaurant.address%></p>
    <p><%=@restaurant.post_code%></p>
    <p><%=@restaurant.city%></p>
    <p><%=@restaurant.phone_number%></p>
  </div>
</div>
</div>
</div>
</div>
<div class="meal-wrapper" id= "order">
  <div class="meal-container">
    <div class="row">
      <div class="col-xs-12">
        <% if has_subscription? %>
        <% if @has_order %>
        <div class = "col-xs-12 col-sm-offset-0 col-sm-2 col-md-offset-0 col-md-5">
          <div class = "pick-card text-center">
            <h2>Vous avez déjà fait votre choix</h2>
            <div class = "pick-card-description">
              <p> Si vous souhaitez changer de plat, veuillez annuler votre commande actuelle dans la rubrique "Mon compte", puis commander de nouveau.</p>
            </div>
          </div>
        </div>
        <% else %>
        <div class = "col-xs-12 col-sm-offset-0 col-sm-2 col-md-offset-0 col-md-5">
          <div class = "pick-card text-center">
            <h2> Pick-up </h2>
            <div class = "pick-card-description">
              <p> Choisissez votre créneau : </p>
              <%= render "orders/new" %>
            </div>
          </div>
        </div>
        <% end %>
        <% else %>
        <div class = "col-xs-12 col-sm-offset-0 col-sm-2 col-md-offset-0 col-md-5">
          <div class = "pick-card text-center">
            <h2>Vous n'êtes actuellement pas abonné</h2>
            <div class = "pick-card-description">
              <p> Profitez de ce plat dès votre prochain repas <%= link_to 'Abonnez-vous !', subscriptions_path %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


