
<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.address2 %></p>
<p><%= @restaurant.post_code %></p>
<p><%= @restaurant.phone_number %></p>

<div class="card-image" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url('<%= image_path('burger.jpg') %>');">

<h1><%= @meal.name %></h1>
<p><%= @meal.description %></p>




