<div id="home-jumbo" class="jumbotron" style="background: linear-gradient(135deg, rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url('<%= image_path('burger3.jpg') %>');  background-repeat: no-repeat; background-position: center; background-size: cover; ">
  <div class="jumbo-row">
  <div class="col-xs-12 col-sm-offset-1 col-sm-9 col-md-offset-0 col-md-6 ">
    <div class="card-jumbo">
  <h1>LES MEILLEURS DÉJEUNERS POUR MOINS DE 6€</h1>
  <p>Commandez vos repas à l'avance et ne faites plus la queue</p>
  <p><a class="btn btn-primary btn-lg" href="#subscription" role="button">Je m'inscris maintenant</a></p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-6 ">
  </div>
  </div>
</div>


<%= render "components/explanations" %>

<div class="wrapper-meals">
  <div class="plans-container">
    <h1>Les meilleurs restaurants de votre ville</h1>
  </div>
  <div class="container">
    <% @restaurants.each do |restaurant| %>
      <div class="col-md-4 col-sm-6 col-xs-12" >
        <div class="card">
          <div class="info-meals">
            <div class="img-restaurant" style="background: url('<%=restaurant.photo%>'); background-position: center; background-size: cover; background-repeat: no-repeat; height: 200px; width: 200px;">
            </div>
            <div class="card-block-info">
              <h3 class="card-title"><%= restaurant.name%></h3>
              <p class="card-text"><%= restaurant.category %></p>
              <p class="card-text-description"><small class="text-muted"><%= restaurant.address %></small></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>
<div class="subscription-wrapper">
  <div id="subscription" class="plans-container">
    <h1> Choisissez une offre adaptée </h1>
    <h4>Chaque offre donne accès à un nombre défini de déjeuners à </h4>
    <h4>emporter, du lundi au vendredi, durant une période d’un mois</h4>
    <div class="row">

      <div class="col-xs-12 col-sm-6">
        <div class="card-category">
          <div class="upper-card">
            <h4> 12 Repas </h4>
            <%= image_tag "sandwichs.jpg", :class => "style_image" %>
          </div>
          <div class="card-prix">
            <p> Jusqu’à 12 déjeuners par cycle</p>
            <p>6,39€ par repas</p>
          </div>
          <a class="btn-sub" href="/subscriptions/1">CHOISIR CETTE OFFRE</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card-category">
          <div class="upper-card">
            <h4>20 Repas</h4>
            <%= image_tag "pizza.jpg", :class => "style_image" %>
          </div>
          <div class="card-prix">
            <p> Jusqu’à 20 déjeuners par cycle</p>
            <p>5,99€ par repas</p>
          </div>
          <a class="btn-sub" href="/subscriptions/2">CHOISIR CETTE OFFRE</a>
        </div>
      </div>
    </div>
  </div>


