<%= render partial: "components/jumbottron", locals: {title: "LES MEILLEURS DÉJEUNERS POUR MOINS DE 6€", subtitle: "Commandez vos repas à l'avance et ne faites plus la queue"} %>
<%= render "components/explanations" %>

<div class="wrapper">
  <div class="container">
    <% @restaurants.each do |restaurant| %>
    <div class="col-md-4 col-sm-6 col-xs-12" >
      <div class="card">
        <div class="info-meals">
          <img src="https://place-hold.it/200x200" >
          <div class="card-block-info">
            <h3 class="card-title"><%= restaurant.name%></h3>
            <p class="card-text"><%= restaurant.category %></p>
            <p class="card-text-description"><small class="text-muted"><%= restaurant.address %></small></p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>


