<%= render "components/jumbottron" %>

<ul>
  <% @restaurants.each do |r| %>
  <li>
    <h2><%= r.name %></h2>
    <p><%= r.category %></p>
    <p><%= r.address %></p>
    <p><%= r.address2 %></p>

  </li>
  <% end %>
</ul>
