<p> Limite de plats produits par jour : <%= @restaurant.max_meal %> </p>

<h1> Commandes du jours  </h1>
<ul>
  <% @meal.orders.each do |o| %>
  <li>
    <h2><%= o.id %></h2>
    <p><%= o.date%></p>
    <p><%= @meal%></p>
    <p><%= o.first_name %></p>
    <p><%= o.last_name %></p>
    <p><%= o.pick_up_time %></p>

  </li>
  <% end %>
</ul>

