<div class="page-content" >

  <div id="payment-container" class="container">
  <h1>Récapitulatif de votre commande</h1>
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <div class="row">
          <div class="col-md-6 col-sm-6 text-center">
            <div id="itemsingle" class="carousel slide clearfix img-responsive" style="background: url(https://www.petitfute.com/medias/mag/10734/835/7727-10-le-coq-au-vin-quoi.jpg); background-position: center; background-size: cover; background-repeat: no-repeat; height: 300px; width: 450px; margin-left: 0px; margin-top: 0px;">
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="recap">
            <% @subscription = Subscription.find(@subscription_order.subscription_id)%>
            <h3> <b><%= @subscription.name %></b></h3>
            <h5> Nombre de repas : <%= @subscription.meal_per_month %> </h5>
            <% if @subscription.id == 1 %>
              <h5> Valeur unitaire : 6,39 € </h5>
            <% else %>
              <h5> Valeur unitaire : 5,99 € </h5>
            <% end %>
            <% if @subscription.id == 1 %>
              <h4><b>Prix Total: 76,8 €</b> </h4>
            <% else %>
              <h4><b>Prix Total: 119,8 €</b> </h4>
            <% end %>
            <p> <%= form_tag subscriptions_order_payments_path(@subscription_order), method: 'post', id: 'payment-form' do %>
                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-name="Ma commande"
                  data-email="<%= current_user.email %>"
                  data-description="Commande: <%= @subscription.name %>"
                  data-amount="<%= @subscription_order.amount_cents %>"
                  data-currency="<%= @subscription_order.amount.currency %>"></script>
              <% end %><a href="/subscriptions" class="btn btn-danger"><i class="icon-shopping-cart"></i>Modifier ma commande</a></p>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>
