<div class="sign-in-wrapper">
  <div id="jumbo" class="jumbotron" style="background: linear-gradient(135deg, rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url('<%= image_path('plat.jpg') %>');  background-repeat: no-repeat; background-position: center; background-size: cover; ">
  <div class="container">
    <div class="col-md-4 col-md-offset-4">
      <div class="formulaire">
      <div class="text-center">
        <h2 id="connection-title">Vous avez oublié votre mot de passe ?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "users/shared/links" %>

    </div>
    </div>
  </div>
</div>
</div>


